.title {
  margin-bottom: 16px;
}

.App {
  margin-left: 10px;
}

.container {
  display: flex;
}

.selectors {
  margin-bottom: 10px;
}

.side-block {
  width: 330px;
  margin-right: 10px;
  margin: 0px;
  margin-right: 40px;
}

.side-block > div {
  padding-bottom: 5px;
}

.plots {
  
}