.title {
  margin-bottom: 16px;
}

.App {
  margin-left: 10px;
}

.selectors {
  display: flex;
  margin-bottom: 10px;
}

.side-block {
  width: 330px;
  margin-right: 10px;
  margin: 0px;
  display: inline-block;
  margin-right: 40px;
}

.side-block > div {
  padding-bottom: 5px;
}

.plots {
  display: inline-block;
  background-color: 'green';
  height: 100%;
}